{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "sortingMethod": "lineLength",
  "plugins": ["./node_modules/prettier-plugin-sort-imports/dist/index.js"]
}
